

/***** NAVBAR *****/
.navbar-default {
  background-color: #fff;
  border-radius: 0;
  background-image: none;
  padding: 0.9%
}

.image_logo{
    width:55px;
    margin:px;
    margin-left:8px;
    float:left;
}

/*class smaller logo on scroll down*/
.image_logo.smaller{
    width:45px;
    margin:2px;
    margin-left:13px;
    float:left;
}


/* Navbar title */
/*.navbar-default .image_logo {
  /*color:#1c3757; /*#1c3757*/
  /*font-size: 45px;
  font-weight: bold;
  letter-spacing: -18.5px;
  -webkit-text-stroke: 0px white;
  text-shadow: 3px 3px 5px #1c3757;
  background-image: url("../assets/my_logo_v2.png")no-repeat;
    width: 90px; height: 80px; display: block; text-indent: -9999px;
}*/

/* Navbar hover effects */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #375D81;
    font-size-adjust: auto;
}

/* Navbar links*/
.navbar-default .navbar-nav > li > a {
  color: #67A1D3;
  font-size: 20px;
  font-weight: 400;
  font-family: lato;
  cursor: pointer;
  margin-top:4px;
}


/*navigation bar placed on the right side */
#nav_ul {
  list-style: none;
  margin: 0 auto;
  float: right;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color:  #375D81; /*#67a1d3*/
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #375D81; /*#1c3757*/
  color: #fff; /*color of menu when hover*/
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: white;
  border-color: white;
  border-width:1px;
  width: 95%;
  opacity: 1;
  filter: alpha(opacity=80);
}

.portfolio-thumbnail:hover {

}

.portfolio-title {
  font-size: 32px;
  font-family: Poppins;
  font-weight: 600;
  color:#2e2e2e;
  text-align: center;
}

.portfolio-description {
}

.portfolio-image {
}

#my-photo {
  margin-top:10px;
  max-height: 180px;
  opacity: 0.85;
  border-radius: 20px;
  margin-bottom: 20px;
}


/*resume logos start*/
#PGE{
  max-height: 50px;
  margin-right: 60px;
  margin-top: 13px;

}

#RecurrentEnergy{
  max-height: 70px;
  margin-right: 70px;
  margin-top: 5px
}

#UW-Madison {
  max-height: 75px;
  padding-right: px;
  margin-right: 63px;
}

#SFSU {
  max-height:50px;
  opacity: 0.;
  margin-right: 70px;
  margin-top: 15px
}
/*resume logos end*/

.txt:hover {
    text-decoration: underline;
}

/* projects - widtth of img*/
#clean_energy{
    width: 85%;
}
#sf311{
    width: 85%;
}
#geog690{
    width: 85%;
}
#gwr{
    width: 85%;
}
#ols{
    width: 85%;
}


/*border line*/
hr {
  border: none;
  border-bottom: 1px solid #ccc;
  opacity: 0.7;
}

h1 {
  font-weight:500;
  color: #333333;
  font-size: 40px;
  font-family: Poppins;
  text-align: center;
}



h3 {
  font-weight: bold;
  color: #2e2e2e;
  font-size: 22px;
  font-family:lato;

}

h4 {
   font-size: 17.5px;
   padding-top:5px;
   color: #000;
   font-family:lato;
}

h5{
    font-size: 22px;
	font-family:lato;
    color: #212121;
    text-align: center;
    font-weight: normal;
}

/*About, description under name*/
h6{
    text-shadow: 0.5px 0.5px 1px #;
    color:#fff; /*#1c3757, #2c4957*/
    font-size: 23px;
    font-size:2.5vh;
    font-weight:500;
    font-family:Poppins;
}

p {
  margin-top:3px;
    margin-bottom:20px;
  font-size: 16.5px;
  color: #2e2e2e;
  font-family: lato;
}

ul{
    color: #2e2e2e;
    font-size: 15.5px;
	font-family: lato;
}


#techskills{
    margin-left: 35px;
}

a {
 color: #67A1D3;
 font-weight:bolder;
 font-size: 17px;
}

a:hover {
    color: #375D81;
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

p2{
    margin-top: 80px;
    margin-bottom: 30px;
  
	font-family: lato;
    color: #999999;
    font-size:14px;
    text-align: center;
}
/*rights reserved*/
#footer{
    margin-top: 80px;
    margin-bottom: 35px;
    text-align: center;
}

/*contact form start*/
label{
    font-size:16px;
    color:#2e2e2e;
    cursor: pointer
}
#send_button{
    color:#fff;
    background-color:#375D81;/*#51a79a*/
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#send_button:hover {
    background-color: #67A1D3;
}

#reset_button{
    color:#2e2e2e;
    background-color: #fff;/*rgb(103,161,211)*/
    padding: 8px 16px;
    border: 1.2px solid #DFDFDF;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
#reset_button:hover {
    color: #fff;
    background-color: #67A1D3;
}


/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #375D81;
}

/* Style inputs with type="text" */
input[type=text], textarea {
    width: 97%; /* Full width */
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* vertically resize the textarea*/
}

.container_resume{
    max-width: 1000px;
}
/* background color and padding around the form */
.container_contact {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}
/*contact form end*/


/*background video*/
.video-container {
  position: relative;
    margin-top:2.3vw;
    
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.overlay-desc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#h1-pageTitle{
    color:white;
    font-family: 'Poppins';
    font-size: 4.2vw;
    
    letter-spacing: 2px;/*0.9vw*/
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 1px 10px #000;
   padding-top:17vw;
}

#h6-pageTitle{
    margin-top:-0.5vw;
    color:white;
    font-family: 'Poppins';
    font-size: 1.8vw;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0px 1px 10px #000;  
}

@media only screen and (max-width: 80em) { 
   #h1-pageTitle{
       padding-top:16vw;
       font-size: 4.4vw;
    }
    #h6-pageTitle{
       font-size: 1.8vw;
        margin-top:-0.8vw;
    }
}

@media only screen and (max-width: 55em) { 
   #h1-pageTitle{
       padding-top:14.5vw;
       font-size: 5vw;
    }
    #h6-pageTitle{
       font-size: 2vw;
        margin-top:-1.5vw;
    }
}


@media only screen and (max-width: 40em) { 
   #h1-pageTitle{
       padding-top:14vw;
       font-size: 5vw;
    }
    #h6-pageTitle{
       font-size: 2.3vw;
        margin-top:-2vw;
    }
    .video-container{
        margin-top:3.5vw;
    }
}

@media only screen and (max-width: 25em) { 
   #h1-pageTitle{
       margin-top:vw;
       padding:4vw;
       font-size: 7vw;
    }
    #h6-pageTitle{
       margin-top:-7vw;
       font-size: 3.7vw;
    }
     .video-container{
        margin-top:4.8vw;
    }
}
/*end video*/


.jumbotron h2 {
font-size:75px;
font-size: 7vh;
font-weight:500;
font-family:Poppins;
color:#fff;/*#1c3757*/
text-shadow: 0.5px 0.5px 1px #;
letter-spacing: 0.9vw;
}

body {
  padding-top: 50px;
  font-family: lato;
  background-color: #fff;
  cursor: pointer;

}



@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

#experience-container{
    background-color: #f5fbf9;
    width: 120%;
    padding: 20px;
}

#main-resume{
    background-color: #eff1f2;  /*#f5fbf9 #eff1f2 #eef5f9*/
}

#resume{
    background-color: #fff;
    padding: 30px;
}

#main-projects{
    background-color: #eff1f2;
}
#main-canada{
    background-color: #f5fbf9; 
}
#main-cleanEnergy{
    background-color: #eff1f2; 
}
#main-GWR{
    background-color: #eff1f2;
}
#form-wrapper{
    background-color: #eff1f2;
    padding-left:30px;
    padding-bottom:30px;
    padding-top:5px;
    padding-right:3px;
}

.container{
    position: relative;
    margin: 0 auto;
}
/* When you mouse over the container, fade in the overlay title */
#overlay1:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay2:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay3:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay4:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay5:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay6:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay7:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
#overlay8:hover .overlay {
  opacity: 1;
  cursor: pointer;
}


/* Make the image responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  max-width: 891px;
  position: absolute;
  left: 16px;
  bottom: 21px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); 
  color: #f1f1f1;
  width: 94.9%;
  transition: 0.5s ease;
  opacity:0;
  color: white;
  font-size: 17px;
  font-size: 2vh;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}


/*shrink navbar on scroll down*/
nav.shrink.navbar-default{
    padding-top: 1px;
    padding-bottom: 1px;
}


#researchproject{
	font-style: italic;
	font-size: 16.5px;

}

/* social media icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* hover effect */
.fa:hover {
    opacity:0.8;
    color:white;
}

/* github */
.fa-github {
    background: #2e2e2e;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: rgb(45,117,173);
    color: white;
}
/* social media icons */
