/***** NAVBAR *****/
.navbar-default {
  background-color: #fff;
  border-radius: 0;
  background-image: none;
  padding: 1.5%   
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: #1c3757;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -18.5px;
  -webkit-text-stroke: 0px white;
  text-shadow: 2px 2px 4px #000;/*shadow affect -3d*/
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1c3757;
}

/* Navbar links*/
.navbar-default .navbar-nav > li > a {
  color: rgb(103,161,211);
  font-size: 19px; 
  font-weight: ;
  font-family: lato;
}

/*navigation bar placed on the right side */
#nav_ul {	
  list-style: none;
  margin: 0 auto;
  float: right;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #377799;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #377799;
  color: #fff; /*color of menu when hover*/
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: white;
  border-color: gainsboro;
  margin-left: 25px; 
  border-width:1px;
  width: 95%;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.portfolio-thumbnail:hover {
  box-shadow: 0 0 3px 3px rgba(55, 119, 153, 0.7);
  opacity: 1;
  filter: alpha(opacity=100);
}

.portfolio-title {
  font-weight: bold;
  color:#2e2e2e
}

.portfolio-description {
}

.portfolio-image {
}

#my-photo {
  max-height: 200px;
  opacity: 0.9;
  border-radius: 30px;
  margin-bottom: 20px;
}

/*resume logos start*/
#PGE{
  max-height: 50px;
  margin-right: 60px;
  margin-top: 13px;
}

#RecurrentEnergy{
  max-height: 70px;
  margin-right: 70px;
  margin-top: 5px  
}

#UW-Madison {
  max-height: 75px;
  padding-right: px;
  margin-right: 63px;
}

#SFSU {
  max-height:50px;
  opacity: 0.;
  margin-right: 70px;
  margin-top: 15px
}
/*resume logos end*/

/*border line*/
hr {
  border-color: gra;
  border-width: 2px;
  font-family:lato;
}

h3 {
  font-weight: bold;
  color: #2e2e2e;
  font-size: 22px;
  font-family:lato;

}

h4 {
   font-size: 17.5px;
   padding-top:5px;
   color: #000;
   font-family:lato;
}

h5{
    margin-top:5px;
	font-family:lato;
}

/*About, description under name*/
h6{
    text-shadow: 2px 2px 4px #fff; 
    color:#1c3757; /*#1c3757, #1c3757*/
    font-size: 23px;
    font-size:2.7vh;
    font-weight:;
    font-family:lato;
}

p {
  margin-top: 5px;
  font-size: 16.5px;
  color: #2e2e2e; 
  font-family: lato;
}

ul{
    color: #2e2e2e;
    font-size: 15.5px;
	font-family: lato;
}


#techskills{
    margin-left: 35px;
}

a {
  color: #2e2e2e; 
}

a:hover {
  color: #377799;
}

p2{
    margin-top: 100px; 
	font-family: lato;
}

/*contact form start*/
label{
    font-size:16px;
    color:#2e2e2e;
}
#send_button{
    color:#fff;
    background-color: rgb(103,161,211);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#reset_button{
    color:#fff;
    background-color: rgb(103,161,211);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1c3757;
}

/* Style inputs with type="text" */
input[type=text], textarea {
    width: 70%; /* Full width */
    padding: 9px;  
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical /* vertically resize the textarea*/
}

/* background color and padding around the form */
.container_contact {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}
/*contact form end*/


.jumbotron {
background-image: url("../assets/road_Maui_v2.png");
   /*background-image:
    linear-gradient(
      to left, 
   #B0E0E6  /*OR B0E0E6 OR color:xs skyblue*/, #377799,#1c3757);*/
background-repeat: no-repeat;
background-size: cover;
text-align: left;
opacity: ;
color: ;
padding: 6%;

}


.jumbotron h2 {
font-size:75px; 
font-size: 8vh;
font-weight:normal;
font-family:lato;
color: white;
text-shadow: 2px 2px 4px #2e2e2e;
letter-spacing: 15px
}

body {
  padding-top: 50px;
  font-family: lato;
  background-color: #fff;
  color:  gray;
     
}

/*rights reserved*/
#footer{
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: px;
    color: dimgray
}



* {box-sizing: border-box}

/* Container needed to position the overlay. */
.container1 {
  position: relative;
  width: 100%;
  max-width: px;
}

/* When you mouse over the container, fade in the overlay title */
.container1:hover .overlay {
  opacity: 1;
}

/* Container needed to position the overlay. */
.container2 {
  position: relative;
  width: 100%;
  max-width: 2000px;
}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
  opacity: 1;
}

/* Container needed to position the overlay. */
.container3 {
  position: relative;
  width: 100%;
  max-width: 2000px;
}

/* When you mouse over the container, fade in the overlay title */
.container3:hover .overlay {
  opacity: 1;
}

/* Container needed to position the overlay. */
.container4 {
  position: relative;
  width: 100%;
  max-width: 2000px;
}

/* When you mouse over the container, fade in the overlay title */
.container4:hover .overlay {
  opacity: 1;
}

/* Make the image responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 1px; 
  left:25.75px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 94.8%;
  transition: 0.5s ease;
  opacity:0;
  color: white;
  font-size: 17px;
  font-size: 2vh;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}


/*shrink navbar on scroll down*/
nav.shrink.navbar-default{
padding-top: 5px !important;
  padding-bottom: 5px !important;
}

#researchproject{
	font-style: italic;
	font-size: 16.5px;
	
}

/* social media icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* hover effect */
.fa:hover {
    opacity:0.8;
    color:white;
}

/* github */
.fa-github {
    background: #2e2e2e;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: rgb(45,117,173);
    color: white;
}
/* social media icons */