/***** NAVBAR *****/
.navbar-default {
  background-color: #fff;
  border-radius: 0;
  background-image: none;
  padding: 0.9%
}

.image_logo{
    width:55px;
    margin:px;
    margin-left:8px;
    float:left;
}

/*class smaller logo on scroll down*/
.image_logo.smaller{
    width:45px;
    margin:2px;
    margin-left:13px;
    float:left;
}


/* Navbar title */
/*.navbar-default .image_logo {
  /*color:#1c3757; /*#1c3757*/
  /*font-size: 45px;
  font-weight: bold;
  letter-spacing: -18.5px;
  -webkit-text-stroke: 0px white;
  text-shadow: 3px 3px 5px #1c3757;
  background-image: url("../assets/my_logo_v2.png")no-repeat;
    width: 90px; height: 80px; display: block; text-indent: -9999px;
}*/

/* Navbar hover effects */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #375D81;
    font-size-adjust: auto;
}

/* Navbar links*/
.navbar-default .navbar-nav > li > a {
  color: #67A1D3;
  font-size: 18px;
  font-weight:normal;
  font-family: lato;
  cursor: pointer;
  margin-top:4px;
}


/*navigation bar placed on the right side */
#nav_ul {
  list-style: none;
  margin: 0 auto;
  float: right;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color:  #375D81; /*#67a1d3*/
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #375D81; /*#1c3757*/
  color: #fff; /*color of menu when hover*/
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: white;
  border-color: gainsboro;
  margin-left: 25px;
  border-width:1px;
  width: 95%;
  opacity: 1;
  filter: alpha(opacity=80);
}

.portfolio-thumbnail:hover {
  box-shadow: 0 0 1px 1px #375D81;
  opacity: 1;
  filter: alpha(opacity=100);
}

.portfolio-title {
  font-weight: bold;
  color:#2e2e2e
}

.portfolio-description {
}

.portfolio-image {
}

#my-photo {
  margin-top:10px;
  max-height: 180px;
  opacity: 0.85;
  border-radius: 20px;
  margin-bottom: 20px;
}


/*resume logos start*/
#PGE{
  max-height: 50px;
  margin-right: 60px;
  margin-top: 13px;
  
}

#RecurrentEnergy{
  max-height: 70px;
  margin-right: 70px;
  margin-top: 5px
}

#UW-Madison {
  max-height: 75px;
  padding-right: px;
  margin-right: 63px;
}

#SFSU {
  max-height:50px;
  opacity: 0.;
  margin-right: 70px;
  margin-top: 15px
}
/*resume logos end*/


/* projects - widtth of img*/
#clean_energy{
    width: 85%;
}
#sf311{
    width: 85%;
}
#geog690{
    width: 85%;
}
#gwr{
    width: 85%;
}
#ols{
    width: 85%;
}


/*border line*/
hr {
  border-color: gra;
  border-width: 2px;
  font-family:lato;
}


h3 {
  font-weight: bold;
  color: #2e2e2e;
  font-size: 22px;
  font-family:lato;

}

h4 {
   font-size: 17.5px;
   padding-top:5px;
   color: #000;
   font-family:lato;
}

h5{
    font-size: 22px;
	font-family:lato;
    color: #212121;
    text-align: center;
    font-weight: normal;
}

/*About, description under name*/
h6{
    text-shadow: 0.5px 0.5px 1px #;
    color:#fff; /*#1c3757, #2c4957*/
    font-size: 23px;
    font-size:2.7vh;
    font-weight:bold;
    font-family:lato;
}

p {
  margin-top:3px;
    margin-bottom:20px;
  font-size: 16.5px;
  color: #2e2e2e;
  font-family: lato;
}

ul{
    color: #2e2e2e;
    font-size: 15.5px;
	font-family: lato;
}


#techskills{
    margin-left: 35px;
}

a {
 color: #67A1D3;
 font-weight:bolder;
 font-size: 16.5px;
}

a:hover {
    color: #375D81;
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

p2{
    margin-top: 100px;
	font-family: lato;
}

/*contact form start*/
label{
    font-size:16px;
    color:#2e2e2e;
    cursor: pointer
}
#send_button{
    color:#fff;
    background-color:#375D81;/*#51a79a*/
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#reset_button{
    color:#fff;
    background-color: #375D81;/*rgb(103,161,211)*/
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #375D81;
}

/* Style inputs with type="text" */
input[type=text], textarea {
    width: 70%; /* Full width */
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* vertically resize the textarea*/
}

.container_resume{
    max-width: 1000px;
}
/* background color and padding around the form */
.container_contact {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}
/*contact form end*/

.jumbotron {
background-image: url("../assets/background_image.png");
   /*background-image:
    linear-gradient(#1c3757,
rgb(103,161,211)  /*OR B0E0E6 OR color:xs skyblue*/);*/
background-repeat: no-repeat;
background-size: cover;
padding:8%;
}

.jumbotron h2 {
font-size:75px;
font-size: 7.8vh;
font-weight:normal;
font-family:lato;
color:#fff;/*#1c3757*/
text-shadow: 0.5px 0.5px 1px #;
letter-spacing: 15px
}

body {
  padding-top: 50px;
  font-family: lato;
  background-color: #fff;
  cursor: pointer;

}

/*rights reserved*/
#footer{
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: px;
    color: dimgray
}



* {box-sizing: border-box}

/* Container needed to position the overlay. */
.container1 {
  position: relative;
  width: 100%;
  max-width: px;
}

/* When you mouse over the container, fade in the overlay title */
.container1:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

/* Container needed to position the overlay. */
.container2 {
  position: relative;
  width: 100%;

}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

/* Container needed to position the overlay. */
.container3 {
  position: relative;
  width: 100%;

}

/* When you mouse over the container, fade in the overlay title */
.container3:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

/* Container needed to position the overlay. */
.container4 {
  position: relative;
  width: 100%;
}

/* When you mouse over the container, fade in the overlay title */
.container4:hover .overlay {
  opacity: 1;

}

/* Container needed to position the overlay. */
.container5 {
  position: relative;
  width: 100%;
}

/* When you mouse over the container, fade in the overlay title */
.container5:hover .overlay {
  opacity: 1;
}

/* Container needed to position the overlay. */
.container6 {
  position: relative;
  width: 100%;
}

/* When you mouse over the container, fade in the overlay title */
.container6:hover .overlay {
  opacity: 1;
}


/* Make the image responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 1px;
  left: 25.25px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 94.9%;
  transition: 0.5s ease;
  opacity:0;
  color: white;
  font-size: 17px;
  font-size: 2vh;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}


/*shrink navbar on scroll down*/
nav.shrink.navbar-default{
    padding-top: 1px;
    padding-bottom: 1px;
}


#researchproject{
	font-style: italic;
	font-size: 16.5px;

}

/* social media icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* hover effect */
.fa:hover {
    opacity:0.8;
    color:white;
}

/* github */
.fa-github {
    background: #2e2e2e;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: rgb(45,117,173);
    color: white;
}
/* social media icons */
